* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    /* padding 과 border를 포함해서 박스 사이즈가 늘어나는 것을 박스 안쪽으로 가둔다. */
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

em,
i,
address {
    font-style: normal;
}

b,
strong {
    font-weight: normal;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

#map {
    width: 1600px;

    border: 15px solid #fff;
    outline: 1px solid #ddd;
    padding: 15px;
    margin: 0 auto 40px auto;
}

header {
    border-bottom: 1px solid #ddd;
    background: #222332;
    color: #fff;

    .inner {
        width: 1600px;
        margin: 0 auto;

        h1 {
            line-height: 60px;

            a {
                font-size: 25px;
                font-weight: 700;
            }
        }

        ul {
            display: flex;
            gap: 20px;
            justify-content: center;
            line-height: 50px;

            li {
                font-weight: 500;
            }
        }
    }

}

.all_list {
    .inner {

        width: 1600px;
        margin: 0 auto;
        padding: 30px 0 100px 0;

        ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 50px 30px;

            li {
                display: flex;


                a {
                    flex: 4.5;

                    img {
                        height: 200px;
                        object-fit: cover;
                    }
                }

                .desc {
                    flex: 5.5;
                    padding: 20px 20px;
                    background: #f4f4f4;

                    h3 {
                        margin: 0 0 20px 0;
                        font-size: 18px;
                        font-weight: 500;
                    }

                    p {
                        line-height: 23px;
                        font-size: 15px;
                        word-break: keep-all;
                    }
                }
            }
        }
    }
}

.gu_list {
    .inner {
        width: 1600px;
        margin: 0 auto;
        padding: 30px 0 100px 0;

        ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 50px 30px;

            li {
                display: flex;


                a {
                    flex: 4.5;

                    img {
                        height: 200px;
                        object-fit: cover;
                    }
                }

                .desc {
                    flex: 5.5;
                    padding: 20px 20px;
                    background: #f4f4f4;

                    h3 {
                        margin: 0 0 20px 0;
                        font-size: 18px;
                        font-weight: 500;
                    }

                    p {
                        line-height: 23px;
                        font-size: 15px;
                        word-break: keep-all;
                    }
                }
            }
        }
    }
}









.footer {
    padding: 50px 0;
    background: #222;

    .inner {
        width: 1600px;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        font-size: 14px;
    }
}